fastapi
uvicorn
sqlalchemy
sse-starlette
slowapi
redis
rank-bm25
chromadb
sentence-transformers
google-generativeai
python-dotenv
PyMuPDF
langchain
langchain-experimental
langchain-huggingface
tiktoken
nltk
Pillow
tqdm
watchfiles
pymupdf
pytesseract
psycopg2-binary
